// //CSS del modal

//! CSS del modal



body {
  padding: 0; margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav{
  height: 150px;
  width: 100%;
  background-color: rgb(245,145,68);
  
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

#topNavA{
  margin: 50px;
  height: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#topNavA div {
  height: 80px;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo1{
  padding: 5px;
}

nav>div>h2{
  padding:0;
  margin:0;
  display: inline-block;
  width: 160px;
  font-size: 10px;
  padding-left: 10px;
}
nav>div img {
  width:60px;
}

nav>img{
  width:230px;
}

nav>ul{
  margin: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav>ul li{
  height: 40px;
  background-color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  color: black;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  width: 80px;
}
.titleDiv>h2{
  padding: 3px;
  font-weight: bold;
}

#topName{
  font-size: 18px;
  text-align: left;
  padding-left:12px;
}
#topNavA:hover{
  color: black;
  text-decoration: none;
}

nav a{
  color: black;
  text-decoration: none;
  text-align: center;
}

nav>ul li:hover{
  // background-color: gray;
  // color: white;
  text-decoration: underline;
} 

//Title Div
div.titleDiv{
  width: 70%;
  margin: auto;
  margin-top: 7px;
  background-color: white;
  text-align: center;
  border: 1px solid rgb(225,125,48);;
  padding: 5px;
  border-radius: 10px;
}
div.titleDiv h2, h3{
  width: 80%;
  margin: auto;
  padding: 10px;
  color: black;
}
div.titleDiv h2{
  font-size: 16px;
}
div.titleDiv h3{
  font-size: 14px;
}

section{
  width:80%;
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

div.itemDiv{
  display: flex;
  height: 220px;
  justify-content: space-around; 
  align-items: center;
  width:90%;
  // background-color: rgba(255,165,0,.8);
  margin-top:1%;
  box-sizing: border-box;
  border: 1px solid rgb(225,125,48);
  border-radius: 15px;
}

.btn{
  background-color: white;
  color: black;
  border-color: black;
  outline:none;
}
.btn:hover{
  background-color: white;
  color: black;
  border-color: black;
  text-decoration: underline;
  outline: none;
}

.btn:active{
  outline: none;
}

div.predetails{
  display: flex;
  width: 300px;
  flex-direction: column;
  align-content: flex-start;
}

.divTable
{
  display: table;
  width:auto;
  // background-color:#eee;
  // border-radius: 15px;
}

.divRow
{
  width:auto;
  display: flex;
  border-top: 1px solid rgb(225,125,48);
  padding: 2px 0 2px 0;
}
.boldC
{
  font-weight: bold;
}

.divCell
{
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:100%;
  padding: 2px;
  
}
section img{
  padding: 0px;
  width: 200px;
  max-height: 170px;
}
.mapItem{
  width: 200px;
  height: 170px;
  background-color: peru;
  margin: 5px 5px 5px 0;
}

h2{
  font-size: 22px;
}

section.loginClass{
  width: 300px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.loginClass form{
  padding: 30px 0 30px 0;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(225,125,48);
  // background-color: rgb(225,125,48);
  box-sizing: border-box;
  border-radius: 15px;
}

section.loginClass div{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section.loginClass label{
  margin: 5px;
  font-weight: bold;
}

section.loginClass input{
  height: 30px;
}

a#addNew{
  display: block;
  font-size: 10px;
  height: 50px;
  width:650px;
  margin:auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(225,125,48);
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: 9px;
}
a#addNew:hover{
  text-decoration: underline;
  color: black;
}

//Add new Item

section.addItem>form{
  padding: 30px 0 30px 0;
  margin-top: 10px;
  height: 500px;
  width: 89%;
  display: flex;
  box-sizing: border-box;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 1px solid rgb(225,125,48);
  border-radius: 15px;
  margin-bottom: 50px;
}

section.addItem label{
  margin: 5px;
  font-weight: bold;
}

section.addItem input{
  // height: 30px;
  // width: 100px;
  margin-left: 20px;
  box-sizing: border-box;
}
section.addItem select{
  margin-left: 20px;
}

div.inputSections{

  display: flex;
  width: 90%;
  margin:auto;
  display: flex;
  justify-content: space-around;
}

.inputSections label{
  display: flex;
  justify-content:center;
}
div.verticalSections{
  display: flex;
  flex-direction: column;
  width:300px;
}
#submitNewItem{
  width: 200px;
  height: 50px;
}

