
<h2>Agrega un nuevo item</h2>

<form action="newItem" method="POST" enctype="multipart/form-data">
<p>Lugar
    <input type="radio" name="trasporte" value="Metro"> Metro<br>
    <input type="radio" name="trasporte" value="Metrobus"> Metrobus<br>
</p>

<p> Línea
     {{!-- <input type="name" placeholder="E nombre de tu producto" type="text"> --}}
    <select name="linea">
        <option value="L1">Línea 1</option>
        <option value="L2">Línea 2</option>
        <option value="L3">Línea 3</option>
        <option value="L4">Línea 4</option>
        <option value="L5">Línea 5</option>
        <option value="L6">Línea 6</option>
        <option value="L7">Línea 7</option>
        <option value="L8">Línea 8</option>
        <option value="L9">Línea 9</option>
        <option value="L10">Línea 10</option>
        <option value="L11">Línea 11</option>
        <option value="L12">Línea 12</option>
    </select>
</p>

<p>Estación
    <input type="text" placeholder="Estacion" type="text" name="estacion">
</p>

<p> Objeto
    <select name="objeto">
        <option value="Cartera">Cartera</option>
        <option value="Prenda">Prenda</option>
        <option value="Celular">Celular</option>
        <option value="Identificacion">Identificación</option>
        <option value="Otro">Otro</option>
    </select>
</p>

<p>
    <textarea name="detalle" rows="10" cols="30">Provee una breve descripción 
    </textarea>
</p>

<p>
    <input name="photoURL" multiple type="file">
</p>
<input type="submit" value="enviar">
</form>