<nav>
    <a id="topNavA" href="/">
        <div>
            <img id="logo1"src="/images/logoMetro1.png" alt="LogoMetro" width="70">
            <img src="/images/logoMetro2.png" alt="LogoMetrobus" width="70">
            <h2 id="topName"> Sistema de Recuperación de Articulos Perdidos</h2>
        </div>
    </a>
    <img src="/images/logoCdMx.png" alt="Ciudad de Mexico" width="200">
    <ul>
        <a  class="navBut" href="/general" id="registerButt" class="userAdmin"><li>General</li></a>
        <a  class="navBut" href="/logout" id="registerButt" class="userAdmin"><li>Salir</li></a>
    </ul>
</nav>

<section class="headPerfil">
    <article class="cover">
        <figure>
            <img id="photo" src="{{User.photoURL}}" alt="no hay nada">
        </figure>
    </article>
    <article>

    </article>
</section>

<section class="bodyPerfil">
    <article class="bodyIzq">
      
    </article>
    <article class="bodyDer">
        
    </article>
</section>






